.question {
  margin-top: 20px;
  margin-bottom: 20px;
}

.radio-btns {
  margin-left: 0px;
}


.intro {
  margin-top:20px;
}

.error {
  color: red;
}

.required {
  color: indianred;
}

hr {
  border-color: white;

}
