.question {
  margin-top: 20px;
  margin-bottom: 20px;
}

.radio-btns {
  margin-left: 0px;
  margin-bottom: 10px;
}


.intro {
  margin-top:20px;
}


.col.q1l {
  max-width: 40%;
}


hr {
  border-color: white;

}

.col.dropboxError {
  padding-left: 0px;
  margin-left: 0px;
}

.col.dropbox {
  padding-right: 0;
}
.optional {
  margin-top: 15px;
}


.custom-select{
  width: 300px ;
}
.optional {
  width: 300px;
}
