<h2 mat-dialog-title>Hands-On Reading</h2>

<mat-dialog-content>

    <p>This is an annotation tool designed to help you interact with texts as you read them. Please feel free to make as
        many marks on the page as you wish.</p>

    <p> We'd be grateful for your feedback when you've finished.</p>
    <p>Credits: Aditi Nafde, Matthew Coneys, Kate Court, James Cummings, Fiona Galston, and Tiago Sousa Garcia. With
        thanks to the AHRC, ATNU, and Newcastle University </p>
    <div class="logos">
        <img src="./assets/AHRC.png" height="50">
        <img class="NUImage" src="./assets/NU.png" height="50">
    </div>

</mat-dialog-content>

<mat-dialog-actions>
    <button class="btn btn-secondary" (click)="close()">Close</button>
</mat-dialog-actions>
