.logos {
  margin: auto;
}

.NUImage {
  margin-top: 10px;
}

mat-dialog-content {
  background: #fffffc;
}


mat-dialog-actions {
  justify-content: flex-end;
}

.logos {
  justify-content: center;
}

.logo {
  margin: 10px;
}
