// next and previous page buttons
$success: #54B877;

// control buttons
$secondary: #465251;

@import "~bootswatch/dist/darkly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/darkly/bootswatch";

.password-toggle {
  position: absolute;
  top: 25px;
  padding: 10px;
  right: 0;
}
