

.newBG {
  background:#4C6E6E !important;
}

button.non-click {
  cursor: default;
}


.btn-group {
  margin-left: 30px;
}

.btn-red {
  background: red;
}

.btn-green {
  background: green;
}

.btn-black {
  background: black;
  color: white;
}
