<div class="container">

    <div class="container canvas" [class.newBG]="state">
        <!--[scrollX]="true"-->
        <!--[scrollY]="true">-->

        <div id="canvas-background" [ngStyle]="{ 'background-image': 'url(' + bgImage + ')', 'width': screenWidth, 'height': screenHeight, 'background-size': 'contain'}">
            <canvas id="myCanvas"></canvas>
        </div>
    </div>

    <!--<img src="{{ screen }}" *ngIf="state">-->

    <!-- Bottom navbar -->
    <div [hidden] = dialogOpen class="navbar fixed-bottom container">

        <button type="button" class="btn btn-success" (click)=prevPage()><img src="./assets/chevron-back.svg"
                                                                              height="25"/></button>


        <!--Drawing controls-->
        <div class="btn-group controls">
            <button type="button" class="btn btn-secondary" (click)=erase()><img src="./assets/erase2w.svg"
                                                                                 width="25"/></button>

            <button type="button" class="btn btn-secondary" type="button" (click)=enableDraw()><img
                    src="./assets/edit.svg"
                    height="25"/></button>

            <!--  colour and size drop-up menu  -->
            <div class="btn-group" ngbDropdown placement="top-left" role="group">
                <button class="btn btn-secondary dropdown-toggle-split" ngbDropdownToggle><img src="./assets/dotsw.svg"
                                                                                               height="25"/></button>

                <div ngbDropdownMenu class="dropdown-menu">
                    <div class="btn-group-vertical">
                    <!--          brush width-->
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary" type="button" (click)="decreaseWidth()">-
                        </button>
                        <button class="btn btn-secondary non-click"
                                onClick="this.blur();">{{canvas.freeDrawingBrush.width}}</button>
                        <button type="button" class="btn btn-secondary" type="button" (click)="increaseWidth()">+
                        </button>
                    </div>


                    <button type="button" class="btn btn-secondary" [(colorPicker)]="colour"
                            [cpPresetColors]="['#000000', '#2889e9', '#FF0000']"
                            [cpAddColorButton]="true" [cpOKButton]=true [cpCancelButton]=true
                            [style.background]="colour"
                            (colorPickerSelect)="changeColour(colour)"><img src="./assets/palette.svg" height="25"/>
                    </button>


                    <button type="button" class="btn btn-secondary" (click)=clear()>Reset page</button>
                    </div>

                </div>
            </div>
            <!-- end of colour and size drop-up-->

            <button type="button" class="btn btn-secondary" (click)=feedbackClicked()><img src="./assets/chat2.svg"
                                                                                           height="25"/></button>
        </div>

        <button type="button" class="btn btn-success right left" (click)=nextPage()><img
                src="./assets/chevron-forward.svg"
                height="25"/></button>

    </div>
</div>
