<div class="container">



<div class="container canvas" [class.newBG]="state">
<!--[scrollX]="true"-->
<!--[scrollY]="true">-->

    <!--
  <div class="image">
    <img class="firstPageImage" src="../assets/sampleImage.jpg" alt="First page"> -->


  <div>
    <canvas id="myCanvas" width="700" height="900"></canvas>
  </div>

</div>

  <!--<img src="{{ screen }}" *ngIf="state">-->


  <div class="btn-group" role="group">
      <button class="btn btn-primary" type="button" (click)= feedbackClicked()>Feedback</button>
      <button class="btn btn-primary" type="button" (click)= clear()>Reset</button>
      <button class="btn btn-primary" type="button" (click)="changeColour('red')">R</button>
      <button class="btn btn-primary" type="button" (click)="changeColour('blue')">B</button>
      <button class="btn btn-primary" type="button"(click)="changeColour('green')">G</button>
      <button class="btn btn-primary" type="button"(click)="changeColour('black')">Bl</button>
      <button class="btn btn-primary" type="button"(click)="decreaseWidth()">-</button>
      <button class="non-click" >{{canvas.freeDrawingBrush.width}}</button>
      <button class="btn btn-primary" type="button"(click)="increaseWidth()">+</button>
  </div>


</div>
