<ion-header>
  <ion-toolbar>
    <ion-title>
      Hands-on Reading
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [class.newBG]="state"
[scrollX]="true"
[scrollY]="true">
    <!--
  <div class="image">
    <img class="firstPageImage" src="../assets/sampleImage.jpg" alt="First page"> -->

  
  <div>
    <canvas id="myCanvas" width="700" height="900"></canvas>
  </div>



  <!--<img src="{{ screen }}" *ngIf="state">-->
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)= realFeedbackClicked()>Real Feedback :)</ion-button>
      <ion-button (click)= feedbackClicked()>Feedback</ion-button>
      <ion-button (click)= resetClicked()>Reset</ion-button>
      <ion-button (click)="clear()">Clear</ion-button>
      <ion-button (click)="changeColour('red')">R</ion-button>
      <ion-button (click)="changeColour('blue')">B</ion-button>
      <ion-button (click)="changeColour('green')">G</ion-button>
      <ion-button (click)="changeColour('black')">Bl</ion-button>
      <ion-button (click)="decreaseWidth()">-</ion-button>
      {{canvas.freeDrawingBrush.width}}
      <ion-button (click)="increaseWidth()">+</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

