

.newBG {
  background:#4C6E6E !important;
}


.non-click {
  cursor: default;

}

.non-click:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.non-click:active {
  box-shadow:none !important;
}
.non-click:active:focus {
  box-shadow:none !important;
  outline:none !important;
}

.non-click:focus {
  outline: none !important;
}




.btn-small {
  width: 10px;
}

.dropdown-menu.show {
  background: transparent;
  width: 10px;
}

.dropdown-menu {
  border: 0px;
}

// restrict canvas and container width to manuscript page (container dictates navbar max-width)
.container {
  max-width: 800px;
}
#canvas-background {
  max-width: 800px;
  background-repeat: no-repeat;
}

.footer {
  position: relative;
  height: 150px;
  clear:both;
  padding-top:20px;
}

button.btn-success.right {
    float: right;

}

button.btn-success.left {
  float: left;
}

.btn-group.controls {
 margin: auto;
  clear: both;
}



.zoomBtns {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

